.modal-edit-wrapper{
    visibility: hidden;
    opacity: 0;
}

.modal-edit-wrapper.active{
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: visible;
    opacity: 1;
}

.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 500px;
    border-radius: 10px;
    background-image: url(../platinas/fundo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color:#FFF;
    background-size: 30%;
    background-position: center;
    font-weight: bold;
    font-family: sans-serif;
}

#form-oficial{
    max-width: 700px;
    width: 100%;
}

#form-oficial fieldset{
    padding: 20px;
    border-radius: 5px;;
}

#form-oficial fieldset legend{
    font-size: 40px;
    text-align: center;
}

.inpunt-group,
.select-group{
    display: flex;
    gap: 10px;
    width:100%;
    margin-top: 30px;
}

.inpunt-group div,
.select-group div{
    width:50%;
}

.inpunt-group div input,
.select-group div select{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #616060;
    background-color: #fff;
}

label{
    font-size: 20px;
    display: block;
}

.button-group{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
}

.button-group .button{
    padding: 10px;
    width: 150px;
    
    color: #fff;
    border-radius: 5px;
    
    font-size: 20px;
    font-weight: 400;

    transition: opacity 0.2s;
}

.button.blue{
    background: #0000ffb7;
    border: none;
    cursor: pointer;
}

.button.red{
    text-align: center;
    background: #e93636;
    text-decoration: none;
}

.button:hover{
    opacity: 0.8;
}